NEWHOSTNAME="raspberrypi"
SSH=on
LOCALE="C.UTF-8"
TIMEZONE="America/New_York"
KEYMODEL="pc101"
KEYLAYOUT="us"

# additional options
#ROOTSIZE="4096MiB"
#HDMI=off
#WIFIPOWERSAVE=off
#BLUETOOTH=off
#CAMERA=on
#KEYOPTIONS=
#GPUMEM=16
